{% include _head.html %}
{% include _header.html %}
<main>
<article class="post">

  <!-- Post title and content. -->
  <h1 class="post-title"><a href="{{ site.url }}{{ page.url }}" title="{{ page.title }}">{{ page.title }}</a></h1>
  <hr class="title-line">
  <p>
    {{ content }}
  </p>

  <!-- "Back Home"-link (left) and date of the post (right). -->
  <div style="float:left;">
      <p class="small gray"><a href="{{ site.url }}" title="To the Homepage">&lt;&lt; Back Home</a></p>
  </div>
  <div style="float:right;">
    <p class="small gray">Updated on <time datetime="{{ page.date | date: "%Y-%m-%d"}}">{{ page.date | date_to_long_string }}</time></p>
  </div>
</article>
</main>
{% include _footer.html %}
