{% include _head.html %}
{% include _header.html %}
<main>
<article class="post">

  <!-- Post title and content. -->
  <h1 class="post-title"><a href="{{ site.url }}{{ page.url }}" title="{{ page.title }}">{{ page.title }}</a></h1>
  <hr class="title-line">
  <p>
    {{ content }}
  </p>

  <!-- "Back Home"-link (left) and date of the post (right). -->
  <div style="float:left;">
      <p class="small gray"><a href="{{ site.url }}" title="To the Homepage">&lt;&lt; Back Home</a></p>
  </div>
  <div style="float:right;">
    <p class="small gray">Updated on <time datetime="{{ page.date | date: "%Y-%m-%d"}}">{{ page.date | date_to_long_string }}</time></p>
  </div>

  <!-- Comments header -->
  <div id="comments" style="clear: left; clear: right;">
    <h3>Comments</h3>
    <div id="header">
      Want to leave a comment? Visit 
      <a href="https://github.com/worblehat/worblehat.github.io/issues/{{page.commentIssueId}}">
        this post's issue page on GitHub
      </a> 
      (you'll need a GitHub account.)
    </div>
  </div>

  <!-- Include JQuery, needed for fetching the comments via the github api. -->
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>

  <!-- Include datejs for date formatting. -->
  <!--<script type="text/jddavascript" src="http://datejs.googlecode.com/svn/trunk/build/date-en-US.js"></script>-->

  <!-- Java script code to show comments from the related github issue. -->
  <script type="text/javascript">
    function loadComments(data) {
      for (var i=0; i<data.length; i++) {
        var cuser = data[i].user.login;
        var cuserlink = "https://www.github.com/" + data[i].user.login;
        var clink = "https://github.com/worblehat/worblehat.github.io/issues/{{page.commentIssueId}}#issuecomment-"
            + data[i].url.substring(data[i].url.lastIndexOf("/")+1);
        var cbody = data[i].body_html;
        var cavatarlink = data[i].user.avatar_url;
        var cdate = new Date(Date.parse(data[i].created_at)).toString();
        //var cdate = Date.parse(data[i].created_at).toString("yyyy-MM-dd HH:mm:ss");

        $("#comments").append("<div class='comment'><div class='commentheader'><div class='commentgravatar'>"
                + '<img src="' + cavatarlink + '" alt="" width="20" height="20">' + "</div><a class='commentuser' href=\""
                + cuserlink + "\">" + cuser + "</a><a class='commentdate' href=\"" + clink + "\">" + cdate
                + "</a></div><div class='commentbody'>" + cbody + "</div></div>");
      }
    }

    $.ajax("https://api.github.com/repos/worblehat/worblehat.github.io/issues/{{page.commentIssueId}}/comments?per_page=100",
    {
      headers: {Accept: "application/vnd.github.full+json"},
      dataType: "json",
      success: function(msg){
        loadComments(msg);
      }
    });
  </script>

</article>
</main>
{% include _footer.html %}
